<div class="form" color="primary">
  <p class="form__title">{{'FORM-REPLY.TITLE' | translate}}</p>
  <form class="form__content" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" floatLabel="never">
      <mat-label color="primary">{{'FORM-REPLY.NAME' | translate}}</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
        <p *ngIf="form.get('name')!.errors!.required">{{'REPLY-FORM-ERRORS.NAME' | translate}}</p>
        <p *ngIf="form.get('name')!.errors!.pattern">{{'REPLY-FORM-ERRORS.NAME-GAPS' | translate}}</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'FORM-REPLY.REPLY' | translate}}</mat-label>
      <textarea matInput formControlName="reply"></textarea>
      <mat-error *ngIf="form.get('reply')!.invalid && form.get('reply')!.touched">
        <p *ngIf="form.get('reply')!.errors!.required">{{'REPLY-FORM-ERRORS.REPLY' | translate}}</p>
        <p *ngIf="form.get('reply')!.errors!.minlength">
          {{'REPLY-FORM-ERRORS.LENGTH' | translate}} {{form.get('reply')!.errors!.minlength.requiredLength}},
          {{'REPLY-FORM-ERRORS.BUT-NOW' | translate}} {{form.get('reply')!.errors!.minlength.actualLength}}
        </p>
        <p *ngIf="form.get('reply')!.errors!.pattern">{{'REPLY-FORM-ERRORS.REPLY-GAPS' | translate}}</p>
      </mat-error>
    </mat-form-field>
    <div class="form__btns">
      <button
        mat-button
        [color]="themeToggleService.themeToggle ? 'primary' : 'accent'"
        [disabled]="form.invalid"
        type="submit"
      >{{'FORM-REPLY.REPLY-BTN' | translate}}</button>
      <button mat-button color="warn" type="button" (click)="close()">{{'FORM-REPLY.CANCEL' | translate}}</button>
    </div>
  </form>
</div>
